html {
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
}
#root {
  height: 100%;
  min-height: 100%;
}
#main-wrapper {
  height: 100%;
  min-height: 100%;
}
#sidebar {
  height: 100%;
  min-height: 100%;
  background: #f9f9f9;
  margin-left: -15em;
  border-right: 1px solid #eeeeee;
  transition: margin .25s ease-in-out;
  .sidebar-title h2 { 
    padding: 0.8em;
    font-size: 1.1em;
    // color: red
  }
  .list-group {
    width: 15em;
    .list-group-item {
      background: #f9f9f9;
      border: none;
      border-radius: 0;
    }  
  }
} 
#content-wrapper {
  width: 100%;
  .content-dynamic {
    padding: 1em;
  }
}

#main-wrapper.toggled #sidebar {
  margin-left: 0;
}

/** EXTERNAL PAGES **/
body.bg-blue {
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 ); 
}
