html {
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  min-height: 100%; }

#root {
  height: 100%;
  min-height: 100%; }

#main-wrapper {
  height: 100%;
  min-height: 100%; }

#sidebar {
  height: 100%;
  min-height: 100%;
  background: #f9f9f9;
  margin-left: -15em;
  border-right: 1px solid #eeeeee;
  transition: margin .25s ease-in-out; }
  #sidebar .sidebar-title h2 {
    padding: 0.8em;
    font-size: 1.1em; }
  #sidebar .list-group {
    width: 15em; }
    #sidebar .list-group .list-group-item {
      background: #f9f9f9;
      border: none;
      border-radius: 0; }

#content-wrapper {
  width: 100%; }
  #content-wrapper .content-dynamic {
    padding: 1em; }

#main-wrapper.toggled #sidebar {
  margin-left: 0; }

/** EXTERNAL PAGES **/
body.bg-blue {
  background: #499bea;
  background: -moz-linear-gradient(left, #499bea 0%, #207ce5 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(left, #499bea 0%, #207ce5 100%);
  background: -o-linear-gradient(left, #499bea 0%, #207ce5 100%);
  background: -ms-linear-gradient(left, #499bea 0%, #207ce5 100%);
  background: linear-gradient(to right, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 ); }
