body.bg-blue {
  background: #499bea;
  background: -moz-linear-gradient(left, #499bea 0%, #207ce5 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(left, #499bea 0%, #207ce5 100%);
  background: -o-linear-gradient(left, #499bea 0%, #207ce5 100%);
  background: -ms-linear-gradient(left, #499bea 0%, #207ce5 100%);
  background: linear-gradient(to right, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 ); }
